[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
streamlit = "1.45"
streamlit-extras = "*"
textblob = "*"
neattext = "*"
matplotlib = "*"
wordcloud = "*"
pandas = "*"
sqlalchemy = "*"
seaborn = "*"
toml = "*"
watchdog = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.12"
