[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "8.1.8"
numpy = "*"
scipy = "*"
streamlit = "1.44.1"
streamlit-extras = "*"
textblob = "*"
neattext = "*"
matplotlib = "*"
wordcloud = "*"
pandas = "*"
sqlalchemy = "*"
seaborn = "*"
toml = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"
